.navbar-light.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333333 !important;
    z-index: 999;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    animation: .5s ease-in-out 0s normal none 1 running fadeInDown
}